
/* ALL */
.text-shadow{
    text-shadow: 1.5px 1.5px 10px #000;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 #ffeaa7;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.no-padding {
    padding: 0;
}

/* BOTÃO DE UPLOAD */
.btn-bs-file {
    position: relative;
}

.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

/* CARD LISTAGEM DE EVENTOS */
.event-card{
  transition: all .2s ease-in-out
}
.event-card:hover{
  transform: scale(1.02);
  box-shadow: 1px 1px 25px #636e72;
}
.btn-grey{
  background-color:#D8D8D8;
  color:#FFF;
}
.rating-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px 15px 20px 15px;
  border-radius:3px;
}
.bold{
  font-weight:700;
}
.padding-bottom-7{
  padding-bottom:7px;
}

.review-block{
  background-color:#FAFAFA;
  border:1px solid #EFEFEF;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size:13px;
  margin-bottom:15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}

/* CARD LISTAGEM DE NOTICIAS */
.card-noticia {
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.card-noticia:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 25px #636e72;
}

.card-noticia img {
    width: 100%;
    height: 270px;
    background-color: transparent;
}

.card-noticia .row, .card-noticia .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}

.card-noticia .card-row {
    padding: 0 20px 0 20px;
}

.card-noticia .card-row.card-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.card-noticia .card-row.card-header .card-header-separator {
    height: 2px;
    width: 100%;
    background-color: #FDD546;
    margin: 7px 0 7px 0;
}

.card-noticia .card-row.card-content {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}

.card-noticia .card-row.card-content a {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}
